@layout DashboardLayout
@page "/products_page"
@inject IJSRuntime JsRuntime


<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Products</h3>

        <div class="card-tools">
            <a>Refresh</a>
        </div>
    </div>
    <div class="card-body p-0">
		<div class="m-1">
			<a class="btn-sm btn-primary text-decoration-none" href="add_product">
						<span class="oi oi-plus" aria-hidden="true"></span> ADD PRODUCT
			</a>
		</div>
		@if (products == null)
		{
				<p><em>Loading...</em></p>
		}
		else
		{
			<div class="table-responsive">
            <table class="table m-0">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Category</th>
							<th>Description</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in products)
						{
							<tr>
								<td>@item.ProductId</td>
								<td>@item.Name</td>
								<td>@item.Category.Name</td>
								<td>@item.Description</td>
								<td>@item.Price</td>
								<td>@item.Quantity</td>
								<td>
									<button class="btn-sm btn-danger" @onclick="() => DeleteProduct(item)">Delete
										<i class="fa-solid fa-trash-list"></i>
									</button>
									<button class="btn-sm btn-success" @onclick="() => AddToCartProduct(item)">Add
										<i class="fa-solid fa-trash-list"></i>
									</button>
								</td>
							</tr>
						}
				
			
					</tbody>
				</table>
			</div>
		}

	</div>
</div>



@code {
	private ObservableCollection<Products> products = new ();
	string token = Preferences.Get("token", null);
	protected override async Task OnInitializedAsync()
	{
		HttpClient httpClient = new HttpClient();

		httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
		var response = await httpClient.GetAsync("https://farm-web-api.herokuapp.com/api/Products/");
		if (response.IsSuccessStatusCode)
		{
			var data = await response.Content.ReadAsStringAsync();
			if (data != null)
			{
				products = Newtonsoft.Json.JsonConvert.DeserializeObject<ObservableCollection<Products>>(data);
			}
		}


	}
	private void AddToCartProduct(Products product)
	{
		
	}
	private async void DeleteProduct(Products product)
	{
		try
		{
			if(await App.Current.MainPage.DisplayAlert("Confirm", $"Are you sure you want to delete this item:{product.Name}", "Yes", "No"))
			{
				HttpClient httpClient = new HttpClient();
				httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
				var response = await httpClient.DeleteAsync("https://farm-web-api.herokuapp.com/api/Products/" +product.ProductId.ToString());
				if (response.IsSuccessStatusCode)
				{
					products.Remove(product);
				}
				else
				{
					var error = await response.Content.ReadAsStringAsync();
					await App.Current.MainPage.DisplayAlert("Confirm", $"Something Went Wrong:\n{error}", "Got it");
				}
			}
			
		}
		catch (Exception ex)
		{
			await JsRuntime.InvokeVoidAsync("Error", $"{ex.Message}");
		}
	}

}
